[submodule "scripts"]
	path = scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "src/utility/meta_utils"]
	path = src/utility/meta_utils
	url = git@github.com:cpp-toolbox/meta_utils.git
[submodule "src/utility/text_utils"]
	path = src/utility/text_utils
	url = git@github.com:cpp-toolbox/text_utils.git
[submodule "src/utility/regex_utils"]
	path = src/utility/regex_utils
	url = git@github.com:cpp-toolbox/regex_utils.git
[submodule "src/utility/glm_utils"]
	path = src/utility/glm_utils
	url = git@github.com:cpp-toolbox/glm_utils.git
[submodule "src/utility/glm_printing"]
	path = src/utility/glm_printing
	url = git@github.com:cpp-toolbox/glm_printing.git
[submodule "src/utility/logger"]
	path = src/utility/logger
	url = git@github.com:cpp-toolbox/logger.git
